
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Desc </br>
        @ViewData["Desc"] </br>
        @TempData["Desc"]
    </div>
</body>
</html>
